body {
    margin: 0;
    background-color: rgba(24, 51, 123, 0.99);
    color: #fff;
    font-family: 'Nova Mono', monospace;
}

  @keyframes smoothScroll {
      0% {
          transform: translateY(-40px);
      }
      100% {
          transform: translateY(0px);
      }
  }

header {
    position: relative;
    z-index: 5;
    background-color:  rgba(24, 51, 123, 0.7);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.sticky {
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
    animation: smoothScroll 1s forwards;
}

.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0px 15px;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .logo {
    display: flex;
    justify-content: flex-start;
    padding-top: 15px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

header  nav {
    display: flex; 
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

header  nav  ul {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: flex-end;
    /* width: 25%; */
    padding-left: 0px;
}

header nav li {
    display: flex;
    margin: 0 10px;
    font-family: 'Nova Mono', monospace;
}

header li a {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    padding: 12px 10px 5px;
    box-shadow: inset 0 -3px 0 -1px #ffd204;
    transition: box-shadow .15s ease-in-out;
}

header li a:hover {
    box-shadow: inset 0 -30px 0 -1px #ffd204;
}

.logo span {
    position: relative;
    display: inline-block;
    transition: all .15s ease-in-out;
}

.logo:hover .left-brakes {
    transform: translateX(-5px);
}

.logo:hover .right-brakes {
    transform: translateX(5px);
}

section h2 {
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

section h2:after {
    content: "";
    height: 2px;
    width: 300px;
    background-color: #fff;
    margin-left: 5px;
}

#information {
    position: relative;
    top: -80px;
    background-image: url("img/coding3.jpeg");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: 0% 30%;
    height: 100vh;
    overflow: auto;
}

#information .name {
    color: #b7b2dc;
    font-size: 16px;
    font-family: 'Nova Mono', monospace;
}

#information  .container {
   margin-top: 100px;
}

#information .name-main {
    color: #fff;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
}

#information .info {
    max-width: 500px;
    font-family: 'Raleway', sans-serif;
    color: #e1e0e8;
    font-size: larger;
    font-weight: 200;
}

#work .codewars img,
#work .github img,
#work .freecodecamp img {
    width: 60%;
    height: auto;
    -webkit-transition: all 1s ease;
    transition: all 0.15s ease;
}

#work{
    margin-top: 30px;
    color: #fff;
}

#work .github {
    text-align: right;
}

#work .codewars img:hover,
#work .github img:hover,
#work .freecodecamp img:hover {
    -webkit-box-shadow: 0px 0px 0px 5px rgba(255,210,4,1);
    -moz-box-shadow: 0px 0px 0px 5px rgba(255,210,4,1);
    box-shadow: 0px 0px 0px 5px rgba(255,210,4,1);
}

#work .codewars:hover,
#work .github:hover,
#work .freecodecamp:hover{
    z-index: 10;
}

#work .codewars,
#work .github,
#work .freecodecamp {
    position: relative;
    z-index: 1;
}

#work .github{
    top: -100px;
}

#work .freecodecamp {
    top: -200px;
}

.title-links {
    display: inline-block;
}

#work  div  a {
    display: block;
}

.title-links:after {
    background-color: #ffeb3b;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.title-links:hover:after,
.title-links:focus:after {
    width: 100%;
}

#experience .wrap-flex {
    display: flex; 
}

#experience h3{
    text-align: center;
    padding: 3px;
    border-left: 2px dashed transparent;
    border-bottom: 2px dashed transparent;
    border-right: 2px dashed transparent;
}

#experience h3.current {
    border-left: 2px dashed #ffd204;
    border-bottom: 2px dashed #ffd204;
    border-right: 2px dashed #ffd204;
}

#experience .experience-items-description p {
    margin-left: 30px;
    display: none;
}

#experience .experience-items-description p.current {
    display: block;
}

#experience h3:hover {
    cursor: pointer;
}


/*---about_me---*/

#about_me {
    margin-top: -100px;
}

#about_me .container {
    white-space: nowrap;
}

#about_me .container > div {
    position: relative;
    display: inline-block;
    max-width: 33%;
    padding: 0;
}

#about_me .container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 5px -85px;
}

#about_me .container .wrapper-photo {
    cursor: pointer;
    height: 400px;
}

#about_me .container .wrapper-photo:hover .text {
    opacity: 1;;
}

#about_me .container .inner-text {
    display: flex;
    padding: 15px;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    opacity: 0.9;
    white-space: pre-line;
}

#about_me .container .text {
    padding: 25px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 1.5s ease 0.2s;
    opacity: 0;
}

#about_me .text p{
    display: flex;
    align-self: center;
    color: rgba(24, 51, 123, 0.99);
}

/*--carousel--*/

#slider {
    margin-top: 120px;
}

.gallery-container {
    width: 100%;
    position: relative;
    margin: auto;
}

* {
    box-sizing: border-box;
}

.gallery-item {
    display: none;
    transition: all ease-in 2s;
}

.gallery-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.gallery-item.active {
    display: block;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.prev {
    left: 0px;
}

.next {
    right: 0px;
}

.prev, .next {
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 23px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: all linear 0.15s;
}


.gallery-container:hover .prev,
.gallery-container:hover .next {
    visibility: visible;
}

.gallery-container .prev {
    left: 5px;
}

.gallery-container:hover .next {
    right: 5px;
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}
  
.hidden {
    display: none;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 2px;
}

.dot.active {
    background-color: #fff;
}

.dots-container {
    display: flex;
    position: relative;
    bottom: 40px;
    justify-content: center;
}

.controls .pause {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 1px;
}

.controls .play {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #fff;
}

.controls {
    display: flex;
    position: relative;
    bottom: 85px;
    justify-content: flex-end;
    padding-right: 25px;
    cursor: pointer;
}

.controls div {
    margin: 5px;
}


/*---Adaptive rools---*/

@media screen and (max-width: 400px) {
    header .logo {
      display: none;
    }
}


@media screen and (max-width: 750px) {
    #work .codewars img, 
    #work .github img, 
    #work .freecodecamp img {
      width: 100%;
    }
    
    #work div {
        text-align: center;
    }

    #work .github,
    #work .freecodecamp {
        top: 0px;
    }

    #work .github {
        text-align: center;
    }

    section h2:after {
        display: none;
    }

    #information {
        top: 0px;
    }

    #about_me .container .wrapper-photo {
        display: block;
        max-width: 100%;
    }
}